<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/indianteam</property>
		<property name="connection.username">vrushabh</property>
		<property name="connection.password">Vrushabh@534</property>
		<property name="diaLect">org.hibernate.dialect.MYSQLDialect</property>
		<property name="hbm2ddl.auto">update</property><!-- it create table for first time,if you want to create for everytime you can alter value. if we write create it will drop and create another table if same table exist-->
		<property name="show_sql">true</property><!-- it show query which has hibernate has created-->
		<property name="cache.use_second_Level_cache">true</property>
		<property name="cache.region.factory_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>
		
		
		  <mapping resource ="hibernate.hbm.xml"/>  
		
	</session-factory>

</hibernate-configuration>	